<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.xxh.crud.dao.UserDao">

    <select id="loadAll" resultType="com.xxh.crud.entity.User">
        select * from smbms_user
    </select>

</mapper>